
body,html{
	margin:0px;
	font-family:sans-serif, Helvetica, arial;
	background:#e6e6e6;
	font-size:14px;
}


.banner{width:100%; height:95px; position:absolute; top:0px; left:0px; 
background-color:#B31B1B; border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;z-index: 2;} 
.header{
position:absolute;
left:50%;
margin-left:-510px;
overflow:hidden;}
.logo{
	height:35px; 
	position:absolute; 
	left:50px; top:20px; 
	font-family:Georgia;
	font-size:50px; 
	white-space:nowrap;
}

#nav2 ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav2 ul li{
	padding-top:0px; /* Introducing a padding betweena the li and the a give the illusion spaced items */
	float:none;
}
#nav2 ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav2 li:hover ul{ /* Display the dropdown on hover */
	left:-50px; /* Bring back on-screen when needed */
	
}
 li.drop:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background-color:#333333;
	
}
#nav2 li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav2 li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#333333;
}

.calendar_container{
	position:relative;
	/*left:50%;
	margin-left:-150px;
	*/
}

table.hours{
	width: 300px;
}

.hours_container{
	margin-top: -10px;
	height: 125px;
}

.container_home{
	width:960px;
	height:800px;
	position:absolute;
	top:130px;
	left:50%;
	margin-left: -480px;
	float:left;
	/*margin-bottom:100px;*/
	
	
}


.head_pic{
	width:938px;
	height:278px;
	position:absolute;
	top:0px;
	left:0px;
	border:10px solid;
	border-color:#B31B1B;
	border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
    outline-style:solid;
    outline-width:1px;
    outline-color: #000000;
}

.search_Box{
	
	padding-bottom:10px;
	position:absolute;
	z-index:12;
	left: 15px;
	top:195px;
	width: 300px;
	border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
	background: #fefefe;
	/*opacity:0.8;*/
	border:1px solid black;
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.5);
-webkit-box-shadow: 5px 5px rgba(0,0,0,0.5);
box-shadow: 5px 5px rgba(0,0,0,0.5);
	
	}
	
#searchOptions{
	font-size: 12px;
text-align: left;
text-decoration: none;
color: #000000;
margin-bottom: 8px;
}	

.search{
	
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	visibility:visible;
	}
	.searchVid{
	position:absolute;
	top:53px;
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	visibility:hidden;
	}
	
	.searchJourn{
	position:absolute;
	top:53px;
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	visibility:hidden;
	}

.search_list:link{
	text-decoration:none;
	color:#000000;
}

.search_list:hover{
	color:#B31B1B;
}

.search_buttons{
	
	margin-top:0px;
	text-align:center;
	margin-bottom: 5px;
	
	
	}

p.foxhunt
{
	margin-top:10px;
	margin-bottom:20px;
	
	font-size:24px;
	font-weight:bold;
	text-align:center;
	}

p.reTool
{
	
	padding-top:4px;
	font-weight:bold;
	margin:0px

}

img.reTool
{
	margin-right:10px;
	float:left;
	border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;	
	border-color: #FFFFFF;
}
	
a.fox:link,a.fox:visited
{
font-weight:bold;
font-size:20px;
color:#B31B1B;
text-align:center;
text-decoration:none;


}
a.fox:hover,a.fox:active
{
color:#B70606;
text-decoration:underline;
}

a.foxData:link,a.foxData:visited
{
display:block;
font-size:12px;
color:#000000;
text-align:left;
padding-left:30px;
padding-bottom:5px;
text-decoration:none;
width:100%;
height:100%;
background-color:#DADADA;
float:left;
vertical-align:middle;
 
  /* chrome 2+, safari 4+; multiple color stops */
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.50,#EBEBEB),color-stop(0.50,#DADADA));
  /* chrome 10+, safari 5.1+ */
  background-image:-webkit-linear-gradient(#EBEBEB,#DADADA);
  /* firefox; multiple color stops */
  background-image:-moz-linear-gradient(top,#EBEBEB,#DADADA);
  /* ie 6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#DADADA');
  /* ie8 + */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#DADADA')";
  /* ie10 */
  background-image: -ms-linear-gradient(#EBEBEB,#DADADA);
  /* opera 11.1 */
  background-image: -o-linear-gradient(#EBEBEB,#DADADA);
  /* The "standard" */
  background-image: linear-gradient(#EBEBEB,#DADADA);


}
a.foxData:hover,a.foxData:active
{


background-color:#908989;
/* chrome 2+, safari 4+; multiple color stops */
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.50,#DADADA),color-stop(0.50,#CBCBCB));
  /* chrome 10+, safari 5.1+ */
  background-image:-webkit-linear-gradient(#DADADA,#CBCBCB);
  /* firefox; multiple color stops */
  background-image:-moz-linear-gradient(top,#DADADA,#CBCBCB);
  /* ie 6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DADADA', endColorstr='#CBCBCB');
  /* ie8 + */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#DADADA', endColorstr='#CBCBCB')";
  /* ie10 */
  background-image: -ms-linear-gradient(#DADADA,#CBCBCB);
  /* opera 11.1 */
  background-image: -o-linear-gradient(#DADADA,#CBCBCB);
  /* The "standard" */
  background-image: linear-gradient(#DADADA,#CBCBCB);
  border:1px solid;
border-color: #CBCBCB;
}

a.fox2:link,a.fox2:visited
{

height:100%;
display:block;
font-size:24px;

text-decoration:none;
color:#333;

}
.fox2:hover,.fox2:active
{
opacity:.5;
text-decoration:none;
color:#000000;
}

img.fox2{
	border-color: white;
}




.head{
	height:25px;
	text-align: center;
	color:#B31B1B;
	font-weight:bold;
	font-size:17px;
	padding-top:5px;
	/*border-bottom:1px solid black;*/
	width:25%;
	float: left;
	
}

.features{
	height:25px;
	text-align: center;
	color:#B31B1B;
	font-weight:bold;
	font-size:17px;
	padding-top:5px;
	border-bottom:1px solid black;
	
	
}

td.list{
	padding:15px;
	font-size:15px;
	border: 1px;
}

a.quick{
	text-decoration:none;
	color:#000000;
	
}



ul.quick
{
list-style-type:none;
margin:0;
padding:0;
padding-top:0px;
padding-bottom:0px;
text-align:left;
height: 165px;
}
.quickList
{
list-style-type:none;
margin:0px;
margin-left:0px;
padding:0px;
padding-top:0px;
padding-bottom:0px;
height: 185px;
}

.linkList2
{
	width:270px;
	overflow:hidden;
	padding-bottom:5px;
	
	
}
.linkList
{
	margin-bottom: 5px;
	height:30px;
width:350px;

border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
overflow:hidden;

}
li.quick_grey
{
background-color:#DADADA;

}
.twitterFeed{
	width:300px;
	height:455px;
	float:left;
        padding:5px;
    padding-top:0px;
    margin-right:10px;
}
#twitterContainer{
	width:300px;
	height:362px;

}
.socialButton{
	position:relative;
	top:10px;
	/*left:50%;
	margin-left:-78px;*/
	float:left;
}


.list_2{
	padding:3px;
	font-size:14px;
	border: 1px;
	background-color:#FFFFFF;
	margin-bottom: 5px;
	
	
	
}

.list{
	padding:3px;
	font-size:14px;
	border: 1px;
	background-color:#F2F2F2;
	margin-bottom: 5px;
	
	
}

.featurelist_2{
	padding:3px;
	font-size:14px;
	border: 1px;
	background-color:#FFFFFF;

	height: 36px;
	
	
}

.featurelist{
	padding:3px;
	font-size:14px;
	border: 1px;
	background-color:#F2F2F2;

	height: 36px;
	
}
.socialButton{
	background-color:#F2F2F2;
}

.newsFeed{
	width:293px;
	height:455px;
	float:left;

	padding:5px;
padding-top:0px;
}
.new{
	text-align: center;
	color:#B31B1B;
	font-weight:bold;
	font-size:30px;
	padding-top:5px;
	border-bottom:1px solid black;
	background-color: #FFFFFF;
}



table.tbl {
border-radius:7px 7px 7px 7px / 7px 7px 7px 7px;
empty-cells: show;
border: 1px ;
margin: 0px;
width: 495px;
background-color: #ffffff;
border-spacing: 5px;
padding-top:10px;
height:520px;

}
tr.Box {
cursor: pointer;

}
table.tbl tr {
background: #F2F2F2;
}
table.tbl td{
padding: 3px 8px;
text-align: center;
}
table.tbl th {
padding: 3px 8px;
margin: 5px;
background:#908989;
}
.white{
padding: 3px 8px;
width:20px;
background:#FFFFFF;
}
.caption {
background-color: #CCC;
font-size: 100%;
border-bottom: none;
width: 50%;
text-align: center;
font-weight: bold;

}
td, th {
display: table-cell;
vertical-align: inherit;
text-align: left;
}
.formLabel{

font-weight: bold;	
}
a.fox_data:link, a.fox_data:visited
{
display:block;	
font-weight:bold;
font-size:30px;
text-align:center;
text-decoration:none;
width:100%;
height:100%;
background:#908989;

}
a.fox_data:hover, a.fox_data:active
{

color:#F2F2F2;

}

.exitContainer{
padding: 3px 8px;
width:20px;
background-color:#FFFFFF;
font-weight:bold;
font-size:20px;
}
a.exit:link, a.exit:visited
{
font-weight:bolder;
font-size:24px;
text-align:center;
background-color:#5C5C5C;


}
.bottom{
	/*position:relative;*/
	top:20px;
	width:100%;
	height:50px;
	
}
a.exit:hover, a.exit:active{color:#B31B1B;}



.divContainer
{
width:960px;
	/*height:750px;*/
	/*For Special Contents*/
	height:796px;
	position:absolute;
	top:5px;
	left:0px;
	border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
    
    background:#FFFFFF;
   
	padding-left:0px;
	
padding-top:0px;
margin-bottom:50px;
}


.hidden{
	visibility: hidden;
}

.catalogHeader{
	color:#000000;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	margin:0px;
	margin-top:6px;
	font-family:Bodoni MT;
	width: 260px;
	
}


 #vtab {

            margin: auto;

            width: 800px;

            height: 100%;

        }

        #vtab > ul > li {

           

        }

        #vtab > ul > li.home {

            background: url('home.png') no-repeat center center;

        }

        #vtab > ul > li.login {

            background: url('login.png') no-repeat center center;

        }

        #vtab > ul > li.support {

            background: url('support.png') no-repeat center center;

        }

        #vtab > ul > li.selected {

            opacity: 1;

            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);

            border: 1px solid #ddd;

            border-right: none;

            z-index: 10;

            background-color: #fafafa !important;

            position: relative;

        }

        #vtab > ul {

            
        }

        #vtab > div {

            background-color: #fafafa;

         	width:490px;

            border: 1px solid #ddd;

            min-height: 500px;

            padding: 12px;

            position: absolute;
            
            left:410px;
            
            top:0px;

            z-index: 9;

            -moz-border-radius: 20px;

        }

        #vtab > div > h4 {

            color: #800;

            font-size: 1.2em;

            border-bottom: 1px dotted #800;

            padding-top: 5px;

            margin-top: 0;

        }

        #loginForm label {

            float: left;

            width: 100px;

            text-align: right;

            clear: left;

            margin-right: 15px;

        }

        #loginForm fieldset {

            border: none;

        }

        #loginForm fieldset > div {

            padding-top: 3px;

            padding-bottom: 3px;

        }

        #loginForm #login {

            margin-left: 115px;

        }

.ask_form{
	width:505px;
	visibility:hidden;
	position:absolute;
	left:410px;
	border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
    border:1px solid black;
    background:#FFFFFF;
   
	padding-left:10px;
	
padding-top:0px;
	
}

.dataBase{
	width:505px;
	visibility:hidden;
	position:absolute;
	left:410px;
top:307px;
	border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
    border:1px solid black;
    background:#FFFFFF;
    padding-left:10px;
    padding-top:0px;
    padding-bottom:5px;
	
}


.test{
	
	visibility:hidden;
		
}
.test_container{
	
}


#gallery {
  position:relative;
  margin: 0 auto;
  width: 760px;
}
#gallery img {
  position:absolute;
  top:25px;
  left:25px;
  display: none;
}
#gallery img.active {
  display:block;
}



a.map_link:link, a.map_link:visited{
	color:#B31B1B;
	font-style:italic;
}

.lib_image{
	width:940px;
	margin-left:10px;
	margin-top:10px;
	height:280px;
	border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
}

.foxhunt_logo{
	margin-bottom:-4px;
	margin-right:5px;
	height:25px;
}

#slideshow {
	
	width:940px;
	margin-left:10px;
	margin-top:10px;
    position:relative;
    height:280px;
    
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
}

#slideshow IMG.active {
    z-index:7;
    border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
}

#slideshow IMG.last-active {
    z-index:6;
    border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
}



.foot{
	text-align:center;
	color:#333;
	font-size:13px;
	width:100%;
}

.foot a:link{
	color:#333;
	
}
.foot a:visited{
	color:#333;
}

.foot a:hover{
	color:#B31B1B;
}


h3{
	margin:0px;
	margin-top:5px;	
	margin-bottom:-17px;
}




.icon:hover{
opacity: 0.5;	
}


.thumbnails{
	width: 150px;
	height: 185px;
}



.rrilinfo{
	width:97%;
	height:120px;
	float:left;
    padding:5px;
    padding-top:0px;
    margin-right:10px;
	margin-left:10px;
	border: 1px black solid;
}

.empdetails{
	width:97%;
	height:auto;
	float:left;
    padding:5px;
    padding-top:5px;
    margin-top: 2px;
    margin-right:10px;
	margin-left:10px;
	margin-bottom: 15px;
	background: #ffffff;
}


#rtwoptions{
	width: 100%;
	height: 30px;
	margin-bottom: 13px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.options{
	float: left;
	margin-right: 25px;
	margin-top: 0px;
}

#empdetailsleft{
	width: 40%;
	height: auto;
	margin: 5px;
	padding: 10px;
	z-index: 9;
	position: relative;
	float: left;
}

.displayimages{
margin-left: 25px;
margin-bottom: 40px;
	width: 150px;
	height: 185px;
	
}

.displaybookdetails{
	margin-left: 30px;
margin-bottom: 40px;
	width: 150px;
	height: 185px;
	margin-top: 25px;
	
}

.details{
	color: #ffffff;
	padding: 15px;
	font-weight: bold;
}

#empdetailsright{
	border-left: 1px solid #ccc;
	width: 54%;
	height: auto;
	margin-top: 60px;
	margin-bottom: 10px;
	padding-left: 13px;
	z-index: 9;
	position: relative;
	float: right;

}

.viewdetails{
	margin-top: 15px;
}	

strong{
	color: #000000;
}	

#accesslinks{
	width: 100%;
	height: 100px;
	border:1px solid #b31b1b;
	position: fixed;
}

select{
	border: 1px solid black;
}

h2#empname{
	font-size: 26px;
	margin-top: 5px;
	color: #b31b1b;
}

.icons{
	width: 50px;
	margin-right: 10px;
}

.icons:hover{
	opacity: .5;
}

#refine{
	border-right: 1px solid #ccc;
	width: 225px;
	height: 600px;
	margin: 5px;
	padding: 10px;
	z-index: 9;
	position: relative;
	float: left;
	overflow: hidden;
	border-bottom-right-radius: 100px;
}

/*
#emplist{
	width:660px;
	height: 800px;
	margin-bottom: 10px;
	padding-left: 0px;
	z-index: 9;
	position: relative;
	float: right;
	margin-top: 20px;
	overflow: hidden;
}
*/

h2 {
  font: 28px Helvetica, Verdana, sans-serif;
  margin: 5px;
  padding: 0;
  color: #b31b1b;
}
 
ul#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
/* 
li.emp {
  font: 18px Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  width: 400px;
  padding: 5px;
}
 
li.emp:last-child {
  border: none;
}
 
li.emp a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 400px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li.emp a:hover {
  font-size: 25px;
  background: #f6f6f6;
}

*/

.emptype{
 font: 13px Helvetica, Verdana, sans-serif;	
 font-weight: bold;
}

a.refinelist{
	color: #0000FF;
}

a.refinelist:hover{
	color: #5A6381;
}

.refiner{
	margin-bottom: 5px;
}

#search{
	width: 140px;
	height: 21px;
	/*margin-top: 735px;*/
	position: relative;
}

.btn {
  background: #252525;
  
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 13px 5px 13px;
  text-decoration: none;
}

.btn:hover {
opacity: .5;
 /* background: #c71010;
  background-image: -webkit-linear-gradient(top, #c71010, #cc0617);
  background-image: -moz-linear-gradient(top, #c71010, #cc0617);
  background-image: -ms-linear-gradient(top, #c71010, #cc0617);
  background-image: -o-linear-gradient(top, #c71010, #cc0617);
  background-image: linear-gradient(to bottom, #c71010, #cc0617);
  */
  text-decoration: none;
  cursor: pointer;  
}

#options{
	width: 200px;
	float: right;
	margin-top: -45px;
}

.mainoptions{
	margin-left: 15px;
}

.mainoptions:hover{
    opacity: .5;
	cursor: pointer;  
}

.pp_nav{
	visibility: hidden;
}

img{
	border: 1px solid #ffffff;
}

#breadcrumbs{
	height:14px;
	width: inherit;
	/*border: 1px solid;*/
}

#searchlimit{
	margin-top: 0px;
}

#rss-news{
	height: 145px;
    overflow-y: auto;
    
}

#citations ul{
	list-style-type: none;
}


